# Preparing bank panel data

In [1]:
import pandas as pd
import numpy as np

In [2]:
from load_data.load_bank_panel import load_call_reports

## Loading Data

### Defining parameters for loading data

#### 1. Specify the folder containing call reports (each report date stored in its own zipped folder)

In [3]:
call_reports_folder = "Data\Bank_panel\call_reports"

#### 2. Specify the names of the call reports and the columns required for retrieval

In [4]:
files_dic = {
    # File with banks' info
    'FFIEC CDR Call Bulk POR': {'IDRSSD': 'IDRSSD', 
                                'Financial Institution Name': 'Financial Institution Name'},
    
    # Balance Sheet
    'FFIEC CDR Call Schedule RC': {'IDRSSD': 'IDRSSD',
                                   'RCFD2170': 'TOTAL ASSETS', 
                                   'RCFN2200': 'TOTAL DEPOSITS',
                                   'RCFD3300': 'TOT LIAB, RESERVE & CAPITAL ACCOUNTS', 
                                   'RCFD2948': 'TOTAL LIABILITIES', 
                                   'RCON3210': 'TOTAL EQUITY CAPITAL'},
    # Income Statement
    'FFIEC CDR Call Schedule RI': {'IDRSSD': 'IDRSSD',
                                   'RIAD4074': 'NET INTEREST INCOME',
                                   'RIAD4073': 'TOTAL INTEREST EXPENSE',
                                   'RIAD4107': 'TOTAL INTEREST INCOME',
                                   'RIAD4079': 'TOTAL NONINTEREST INCOME',
                                   'RIAD4093': 'TOTAL NONINTEREST EXPENSE',
                                   'RIAD4300': 'NET INCOME BEFORE EXTRAORDINARY ITEM', 
                                   'RIAD4301': 'INCOME (LOSS) BEFORE APPLICABLE INCOME TAXES', 
                                   'RIAD4230': 'PROVISION FOR LOAN AND LEASE LOSSES',
                                   'RIADJJ33': 'Provision for loan and lease losses'}
}

### Loading

In [5]:
df_call_reports = load_call_reports(call_reports_folder, files_dic)

In [6]:
df_call_reports

,Report Date,IDRSSD,Financial Institution Name,RCFD2948,RCFD2170,RCFN2200,RCFD3300,RCON3210,RIAD4079,RIAD4301,RIAD4107,RIAD4093,RIAD4300,RIAD4230,RIAD4073,RIAD4074,RIADJJ33
0,2001-03-31,37,BANK OF HANCOCK COUNTY,NaN,NaN,NaN,NaN,11424,75,295,1327,462,220,45,602,725,NaN
1,2001-03-31,242,"FIRST NATIONAL BANK OF XENIA, THE",NaN,NaN,NaN,NaN,3503,30,90,425,164,67,0,201,224,NaN
2,2001-03-31,279,"MINEOLA COMMUNITY BANK, SSB",NaN,NaN,NaN,NaN,15481,55,114,1563,500,104,0,1026,537,NaN
3,2001-03-31,354,BISON STATE BANK,NaN,NaN,NaN,NaN,1091,2,11,148,68,11,0,71,77,NaN
4,2001-03-31,439,PEOPLES BANK,NaN,NaN,NaN,NaN,15717,264,702,3150,1265,464,0,1447,1703,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616893,2023-06-30,5788705,BANK IRVINE,NaN,NaN,NaN,NaN,27588,2,-660,2273,1943,-661,NaN,408,1865,584
616894,2023-06-30,5805424,BEACH CITIES COMMERCIAL BANK,NaN,NaN,NaN,NaN,21985,0,-2105,80,2180,-2105,NaN,5,75,0
616895,2023-06-30,5805451,"WESTERN ALLIANCE TRUST COMPANY, NATIONAL ASSOC...",NaN,NaN,NaN,NaN,34753,223,-4767,133,5123,-3573,NaN,0,133,0
616896,2023-06-30,5805817,CERIDIAN NATIONAL TRUST BANK,NaN,NaN,NaN,NaN,10364,9958,1869,91,8180,1364,NaN,0,91,0
616897,2023-06-30,5860740,COMMUNITY UNITY BANK,NaN,NaN,NaN,NaN,25672,0,-706,387,1093,-706,NaN,0,387,0

In [7]:
df_call_reports.to_csv('df_call_reports.csv')